{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}
<div class="PageEditNew">
    <h1 class="Pageh1">Modifier {{ game.title }}</h1>

    {{ include('game/_form.html.twig') }}
    
    <div class="d-flex justify-content-end">
        <div class="mx-1">
            {{ include('game/_delete_form.html.twig') }}
        </div>
        <a class="btn btn-secondary mx-1" href="{{ path('app_backoffice_game_index') }}">Retour à la liste</a>
    </div>
</div>
{% endblock %}
