{% extends 'base.html.twig' %}

{% block title %}Modifier Plateforme{% endblock %}

{% block body %}
<div class="PageEditNew">
    <h1 class="Pageh1">Modifier {{ platform.name }}</h1>

    {{ include('platform/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('platform/_delete_form.html.twig') }}

    <a href="{{ path('app_backoffice_platform_index') }}">retour à la liste des plateformes</a>
</div>
{% endblock %}
