{% extends 'base.html.twig' %}

{% block title %}Nouvelle plateforme{% endblock %}

{% block body %}
<div class="PageEditNew">
    <h1>Ajouter une nouvelle plateforme</h1>

    {{ include('platform/_form.html.twig') }}

    <a href="{{ path('app_backoffice_platform_index') }}">Retour à la liste</a>
</div>
{% endblock %}
