{% extends 'base.html.twig' %}

{% block title %}Ajouter un jeu{% endblock %}

{% block body %}
<div class="PageEditNew">
    <h1>Ajouter un jeu</h1>

    {{ include('BackOffice/game/_form.html.twig') }}

    <div class="d-flex justify-content-end">
        <a class="btn btn-secondary mx-1" href="{{ path('app_backoffice_game_index') }}">Retour à la liste</a>
    </div>
</div>
{% endblock %}
