.hero {

    .hero-content {
        width: 100%;
        height: 100%;
        display: flex;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    @each $color, $hex in $theme-colors {
        &.hero-bg-#{$color} .hero-content {
            background: linear-gradient(
                to top,
                $hex,
                transparent
            );
        }
    }

    &.hero-content-top .hero-content {
        align-items: start;
    }
    &.hero-content-bottom .hero-content {
        align-items: end;
    }
    &.hero-content-center .hero-content {
        align-items: center;
    }
}