{% extends 'base.html.twig' %}

{% block title %}Conversations{% endblock %}

{% block body %}

    <h1>Conversations</h1>

    <ul>
        {% for conversation in conversations %}
            <li>
                <a href="{{ path('conversation_show', {'id': conversation.id}) }}">
                    Conversation avec
                    {% for player in conversation.getParticipate() %}
                        {% if player != app.user %}
                            {{ player.nickname }}
                        {% endif %}
                    {% endfor %}
                </a>
            </li>
        {% else %}
            <li>No conversations found.</li>
        {% endfor %}
    </ul>
    
{% endblock %}
